In [ ]:
#Access to my Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import sqlite3

In [ ]:
df = pd.read_csv('drive/MyDrive/SQLpractice/P9-OLTP.csv')
df.head()

,TransactionID,Timestamp,CustomerID,Name,Surname,Shipping_State,Item,Description,Retail_Price,Loyalty_Discount
0,113255,2016-12-13 18:05:37,200000663,Leonard,Jackson,Delaware,8619953091,Pillowcase,18.96,0.02
1,113254,2016-12-13 18:05:22,200000661,Lucas,Abraham,Louisiana,2020397001,Men's Pajama Set,23.10,0.00
2,113253,2016-12-13 18:03:57,200000662,Trevor,Skinner,Louisiana,4681342313,Sheets,29.90,0.10
3,113252,2016-12-13 18:01:45,100000007,Dorothy,Thomson,Alabama,6697166886,Coat,159.80,0.07
4,113251,2016-12-13 18:01:22,400000180,Eric,Bower,New Hampshire,6697166886,Coat,159.80,0.06

In [ ]:
df.shape

(3455, 10)

In [ ]:
unique_values = df.nunique()
unique_values

TransactionID       3455
Timestamp           3434
CustomerID           942
Name                 165
Surname              150
Shipping_State        50
Item                 126
Description           68
Retail_Price         110
Loyalty_Discount      11
dtype: int64

**Note**: Each transaction is unique, it can be concluded that only one item is sold in each transaction

In [ ]:
df.describe()

,TransactionID,CustomerID,Item,Retail_Price,Loyalty_Discount
count,3455.000000,3.455000e+03,3.455000e+03,3455.000000,3455.000000
mean,111528.000000,1.797979e+08,5.276712e+09,58.526237,0.050457
std,997.516917,9.563412e+07,2.600486e+09,34.464217,0.032215
min,109801.000000,1.000000e+08,1.039855e+09,5.600000,0.000000
25%,110664.500000,1.000003e+08,2.963301e+09,31.800000,0.020000
50%,111528.000000,1.000009e+08,5.145202e+09,51.660000,0.050000
75%,112391.500000,2.000009e+08,7.645689e+09,79.800000,0.080000
max,113255.000000,4.000009e+08,9.916068e+09,159.800000,0.100000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TransactionID     3455 non-null   int64
 1   Timestamp         3455 non-null   object
 2   CustomerID        3455 non-null   int64
 3   Name              3455 non-null   object
 4   Surname           3455 non-null   object
 5   Shipping_State    3455 non-null   object
 6   Item              3455 non-null   int64
 7   Description       3455 non-null   object
 8   Retail_Price      3455 non-null   float64
 9   Loyalty_Discount  3455 non-null   float64
dtypes: float64(2), int64(3), object(5)
memory usage: 270.0+ KB

In [ ]:
#Null values
df.isna().sum()

TransactionID       0
Timestamp           0
CustomerID          0
Name                0
Surname             0
Shipping_State      0
Item                0
Description         0
Retail_Price        0
Loyalty_Discount    0
dtype: int64

**Note** : The dataset contains information on products, clients, and transactions, requiring the creation of three tables to accommodate this information.

## Creating my SQL database

In [ ]:
#Set path to database file in Google Drive
db_path = '/content/drive/MyDrive/SQLpractice/store_sales.db'

In [ ]:
#Create a database for our store sales dataset
conn = sqlite3.connect(db_path)

In [ ]:
#Create table customer
cursor = conn.cursor()
cursor.execute('''CREATE TABLE customer (
  CustomerID INT NOT NULL PRIMARY KEY,
  Name CHAR(30) NOT NULL,
  Surname CHAR(30) NOT NULL,
  Loyalty_Discount FLOAT(1,6) DEFAULT '0.000000'
  ); '''
  )
conn.commit()
cursor.close()

In [ ]:
#Create table item
cursor = conn.cursor()
cursor.execute('''CREATE TABLE item (
  ItemID INT NOT NULL PRIMARY KEY,
  Description VARCHAR(255) NOT NULL,
  Retail_Price FLOAT(9,6) NOT NULL
  ); '''
  )
conn.commit()
cursor.close()

In [ ]:
#Create table transaction
cursor = conn.cursor()
conn.execute('''CREATE TABLE transactions (
  TransactionID INT NOT NULL PRIMARY KEY,
  Timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
  CustomerID INT NOT NULL,
  ItemID INT NOT NULL,
  Shipping_State VARCHAR(255) NOT NULL,
  CONSTRAINT fk_Customer_id FOREIGN KEY (CustomerID) REFERENCES costumer(CostumerID),
  CONSTRAINT fk_Item_id FOREIGN KEY (ItemID) REFERENCES costumer(ItemID)
  ); '''
  )
conn.commit()
cursor.close()

In [ ]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query to get table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the cursor and the database connection
cursor.close()

customer
item
transactions

## Formatting data for insertion into the database

In [ ]:
#Changing the name of column Item
df = df.rename(columns={'Item': 'ItemID'})
df.columns

Index(['TransactionID', 'Timestamp', 'CustomerID', 'Name', 'Surname',
       'Shipping_State', 'ItemID', 'Description', 'Retail_Price',
       'Loyalty_Discount'],
      dtype='object')

In [ ]:
#get data to populate table costumer 
customer_data = df[['CustomerID', 'Name', 'Surname', 'Loyalty_Discount']]

In [ ]:
customer_data.shape

In [ ]:
# Making each customer unique
customer_data = customer_data.drop_duplicates(subset=['CustomerID'])

In [ ]:
customer_data.shape

In [ ]:
#get data to populate table item
item_data = df[['ItemID', 'Description', 'Retail_Price']]

In [ ]:
item_data.shape

In [ ]:
#Making each item unique
item_data = item_data.drop_duplicates(subset=['ItemID'])

In [ ]:
item_data.shape

In [ ]:
#get data to populate table transactions
transactions_data = df[['TransactionID', 'Timestamp', 'CustomerID', 'ItemID', 'Shipping_State']]

**Note:** Every transaction is unique

## Populating the database

In [ ]:
#Populate table client
customer_data.to_sql('customer', conn, if_exists='append', index=False)

# Commit changes
conn.commit()

In [ ]:
cursor = conn.cursor()

cursor.execute('SELECT * FROM customer')

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(200000663, 'Leonard', 'Jackson', 0.02)
(200000661, 'Lucas', 'Abraham', 0.0)
(200000662, 'Trevor', 'Skinner', 0.1)
(100000007, 'Dorothy', 'Thomson', 0.07)
(400000180, 'Eric', 'Bower', 0.06)
(200000701, 'Joshua', 'Wilson', 0.1)
(300000467, 'Angela', 'Morrison', 0.08)
(400000706, 'Samantha', 'Mills', 0.1)
(100000061, 'Kylie', 'Howard', 0.1)
(400000513, 'Amy', 'Wilkins', 0.02)
(200000459, 'Charles', 'Brown', 0.04)
(200000482, 'Justin', 'Graham', 0.01)
(100000081, 'Joan', 'Buckland', 0.02)
(200000821, 'Charles', 'Underwood', 0.08)
(300000015, 'Madeleine', 'Marshall', 0.08)
(100000252, 'Nicholas', 'Lyman', 0.09)
(300000822, 'Leonard', 'Fisher', 0.07)
(300000815, 'Pippa', 'Robertson', 0.03)
(100000618, 'Andrew', 'Wright', 0.08)
(100000051, 'Sophie', 'Wilkins', 0.04)
(100000880, 'Rachel', 'Springer', 0.03)
(100000898, 'Samantha', 'Ross', 0.02)
(400000359, 'Gabrielle', 'MacDonald', 0.07)
(100000559, 'Grace', 'Mills', 0.09)
(100000878, 'Felicity', 'Metcalfe', 0.03)
(100000013, 'Ryan', 'MacDonald', 0.08)
(100000569, 'Gabrielle', 'Skinner', 0.0)
(300000852, 'Kevin', 'Parsons', 0.03)
(100000158, 'Michael', 'Powell', 0.09)
(300000023, 'Deirdre', 'McDonald', 0.05)
(100000923, 'Andrea', 'Henderson', 0.09)
(100000251, 'Fiona', 'Jones', 0.1)
(400000557, 'Lisa', 'Buckland', 0.02)
(300000614, 'Jennifer', 'Skinner', 0.1)
(100000477, 'Chloe', 'MacLeod', 0.09)
(200000537, 'Rebecca', 'Simpson', 0.09)
(100000567, 'Alison', 'James', 0.0)
(200000256, 'Julian', 'Peake', 0.04)
(400000368, 'Olivia', 'Simpson', 0.0)
(100000521, 'Sonia', 'Vance', 0.06)
(200000493, 'Jacob', 'Forsyth', 0.07)
(100000173, 'Hannah', 'Thomson', 0.03)
(100000824, 'Heather', 'Davies', 0.07)
(100000344, 'Anna', 'Miller', 0.03)
(100000760, 'Keith', 'Walker', 0.09)
(100000542, 'Anne', 'Sharp', 0.09)
(300000730, 'Nicola', 'Howard', 0.09)
(100000121, 'Ian', 'Slater', 0.1)
(200000582, 'Rebecca', 'Clarkson', 0.09)
(400000396, 'Fiona', 'Buckland', 0.08)
(300000238, 'Dorothy', 'Miller', 0.06)
(100000236, 'Carol', 'Blake', 0.02)
(100000010, 'Dominic', 'Parr', 0.0)
(100000341, 'Jasmine', 'Greene', 0.06)
(100000564, 'Leonard', 'Paige', 0.06)
(400000690, 'Bernadette', 'Duncan', 0.03)
(200000387, 'Christian', 'Blake', 0.03)
(400000916, 'Matt', 'Grant', 0.02)
(100000931, 'Maria', 'Lawrence', 0.02)
(100000345, 'Benjamin', 'Ince', 0.03)
(100000144, 'Sean', 'Bell', 0.02)
(300000495, 'Stephen', 'Poole', 0.08)
(100000169, 'Blake', 'Mills', 0.09)
(300000702, 'Diane', 'Underwood', 0.03)
(100000383, 'Jasmine', 'Oliver', 0.0)
(200000646, 'Liam', 'Rutherford', 0.02)
(400000398, 'Nicola', 'Ferguson', 0.04)
(100000192, 'Oliver', 'Blake', 0.09)
(100000315, 'Peter', 'Metcalfe', 0.08)
(100000181, 'Mary', 'Watson', 0.08)
(300000814, 'James', 'Newman', 0.01)
(100000854, 'Carl', 'Clark', 0.02)
(100000286, 'Ruth', 'Lambert', 0.08)
(200000548, 'Emily', 'King', 0.09)
(100000145, 'Steven', 'Ball', 0.03)
(100000412, 'Dan', 'Wright', 0.1)
(200000350, 'Isaac', 'Kelly', 0.06)
(100000724, 'Una', 'Blake', 0.04)
(400000653, 'Sam', 'Campbell', 0.01)
(100000136, 'Christopher', 'Mackenzie', 0.03)
(300000271, 'Carl', 'Abraham', 0.02)
(100000285, 'Matt', 'Black', 0.08)
(200000523, 'Adam', 'Gill', 0.0)
(100000154, 'Kevin', 'Powell', 0.01)
(200000071, 'Dan', 'Mills', 0.02)
(100000520, 'Joan', 'Clarkson', 0.07)
(100000451, 'Tracey', 'Thomson', 0.03)
(100000546, 'Donna', 'Johnston', 0.02)
(300000636, 'Elizabeth', 'McDonald', 0.02)
(100000936, 'Alexandra', 'Henderson', 0.02)
(200000819, 'Katherine', 'Grant', 0.05)
(100000171, 'John', 'Hughes', 0.02)
(100000042, 'Diane', 'Black', 0.06)
(300000597, 'Julian', 'Lyman', 0.01)
(200000896, 'Paul', 'Allan', 0.06)
(400000472, 'Gabrielle', 'Hardacre', 0.01)
(100000919, 'Natalie', 'Duncan', 0.07)
(100000422, 'Brian', 'Simpson', 0.05)
(100000294, 'Brandon', 'Morgan', 0.01)
(100000841, 'Donna', 'Davidson', 0.05)
(100000544, 'Ian', 'Ince', 0.1)
(300000734, 'Sarah', 'Murray', 0.02)
(300000633, 'Piers', 'Miller', 0.08)
(400000515, 'Amanda', 'Mackenzie', 0.1)
(100000170, 'Natalie', 'Morrison', 0.04)
(100000330, 'Wendy', 'Turner', 0.05)
(100000558, 'Jan', 'Sanderson', 0.03)
(400000914, 'Anna', 'Randall', 0.05)
(100000293, 'Nathan', 'Bond', 0.1)
(100000443, 'Justin', 'Hodges', 0.03)
(200000363, 'Brandon', 'Johnston', 0.04)
(200000102, 'Emma', 'Piper', 0.08)
(100000091, 'Blake', 'Reid', 0.01)
(200000352, 'Piers', 'Harris', 0.09)
(100000574, 'Dylan', 'Marshall', 0.02)
(200000492, 'Julian', 'Langdon', 0.07)
(200000940, 'Victor', 'Sutherland', 0.01)
(400000795, 'Amanda', 'King', 0.1)
(100000049, 'Simon', 'Ball', 0.02)
(100000141, 'Angela', 'Wright', 0.06)
(300000611, 'Nicola', 'Paige', 0.08)
(100000030, 'Luke', 'Wilkins', 0.09)
(200000607, 'Brian', 'Arnold', 0.02)
(200000938, 'Trevor', 'Harris', 0.05)
(100000247, 'Claire', 'Dickens', 0.09)
(200000762, 'Andrea', 'Robertson', 0.04)
(200000043, 'Jake', 'Morgan', 0.02)
(100000709, 'Angela', 'Lawrence', 0.02)
(100000255, 'Diane', 'Henderson', 0.1)
(200000791, 'Pippa', 'Walsh', 0.1)
(100000182, 'Austin', 'Ball', 0.06)
(200000747, 'Peter', 'Gibson', 0.07)
(200000066, 'Piers', 'Burgess', 0.06)
(300000592, 'Diana', 'Martin', 0.07)
(300000268, 'James', 'Oliver', 0.0)
(300000731, 'Warren', 'Ince', 0.04)
(300000393, 'Lily', 'Lyman', 0.02)
(100000378, 'Harry', 'Manning', 0.06)
(100000839, 'Nathan', 'Kerr', 0.1)
(300000524, 'Brandon', 'Clark', 0.0)
(400000691, 'Jacob', 'Clarkson', 0.02)
(100000132, 'James', 'Marshall', 0.04)
(100000746, 'Ava', 'Gibson', 0.03)
(100000331, 'Jonathan', 'Manning', 0.0)
(400000829, 'Lillian', 'Hemmings', 0.01)
(100000377, 'Samantha', 'Knox', 0.1)
(200000715, 'Sebastian', 'Mackenzie', 0.09)
(400000740, 'Michael', 'Hamilton', 0.03)
(200000100, 'Carolyn', 'Robertson', 0.1)
(300000717, 'Anne', 'Allan', 0.08)
(100000642, 'Eric', 'Wilson', 0.07)
(200000726, 'Peter', 'Chapman', 0.0)
(100000723, 'Justin', 'Campbell', 0.03)
(100000677, 'Dominic', 'Langdon', 0.04)
(200000610, 'Ian', 'Walsh', 0.08)
(100000877, 'Megan', 'Reid', 0.03)
(100000835, 'Leonard', 'Gibson', 0.06)
(200000619, 'Alexander', 'Abraham', 0.03)
(100000851, 'Victor', 'Clark', 0.01)
(200000725, 'Kevin', 'Hudson', 0.1)
(200000447, 'Neil', 'Coleman', 0.02)
(100000489, 'Kevin', 'Wright', 0.09)
(300000812, 'Natalie', 'Wallace', 0.07)
(100000142, 'Sam', 'Russell', 0.04)
(200000588, 'Sean', 'Dyer', 0.09)
(400000514, 'Michael', 'Henderson', 0.08)
(200000534, 'Sebastian', 'Thomson', 0.1)
(100000205, 'Anna', 'Lee', 0.05)
(200000385, 'Joe', 'Parsons', 0.1)
(200000389, 'Leonard', 'Thomson', 0.0)
(200000793, 'Charles', 'McDonald', 0.06)
(100000041, 'Edward', 'Terry', 0.05)
(100000130, 'Alison', 'MacLeod', 0.02)
(100000921, 'William', 'Gibson', 0.07)
(100000832, 'David', 'Turner', 0.03)
(200000749, 'Anthony', 'Quinn', 0.02)
(200000622, 'Christopher', 'Randall', 0.09)
(100000930, 'Amelia', 'Hughes', 0.0)
(100000640, 'David', 'Arnold', 0.1)
(100000400, 'Jacob', 'Fisher', 0.02)
(200000047, 'Leah', 'Nolan', 0.03)
(100000879, 'Ryan', 'Russell', 0.02)
(400000639, 'Peter', 'Miller', 0.04)
(100000232, 'Trevor', 'King', 0.07)
(200000508, 'Bella', 'Gibson', 0.08)
(200000186, 'Sue', 'Ellison', 0.01)
(300000704, 'Bernadette', 'Cornish', 0.04)
(200000260, 'Harry', 'Walsh', 0.07)
(100000332, 'Carolyn', 'Churchill', 0.04)
(300000357, 'Mary', 'Reid', 0.02)
(100000306, 'Phil', 'Grant', 0.09)
(100000229, 'Yvonne', 'Johnston', 0.04)
(200000682, 'Oliver', 'Paterson', 0.07)
(100000233, 'Stewart', 'Pullman', 0.0)
(100000402, 'Kylie', 'McDonald', 0.04)
(100000881, 'Joan', 'Nash', 0.07)
(100000176, 'Wendy', 'Gill', 0.02)
(100000809, 'Dylan', 'Mathis', 0.03)
(100000847, 'Virginia', 'Newman', 0.07)
(200000448, 'Evan', 'Hart', 0.05)
(400000441, 'Amy', 'Murray', 0.0)
(200000683, 'Piers', 'Gray', 0.07)
(200000942, 'Richard', 'Roberts', 0.1)
(100000445, 'Rose', 'Hodges', 0.02)
(100000543, 'Chloe', 'Dickens', 0.01)
(100000249, 'Brandon', 'Bower', 0.04)
(300000666, 'Alan', 'Forsyth', 0.05)
(200000486, 'Leonard', 'Churchill', 0.05)
(200000587, 'Sebastian', 'Forsyth', 0.07)
(200000716, 'Theresa', 'Fraser', 0.09)
(100000227, 'Connor', 'Gill', 0.08)
(300000913, 'Dan', 'Robertson', 0.1)
(200000109, 'Joe', 'Forsyth', 0.05)
(100000284, 'Lily', 'Hughes', 0.04)
(400000755, 'Angela', 'Oliver', 0.01)
(100000203, 'Yvonne', 'Arnold', 0.03)
(300000528, 'Victoria', 'Welch', 0.08)
(100000092, 'Jane', 'Forsyth', 0.1)
(100000501, 'Victoria', 'Johnston', 0.01)
(200000536, 'Simon', 'Brown', 0.06)
(100000572, 'David', 'Stewart', 0.06)
(200000370, 'Joshua', 'Bond', 0.09)
(200000591, 'Christian', 'Edmunds', 0.1)
(200000349, 'Cameron', 'Duncan', 0.01)
(200000301, 'Joseph', 'Robertson', 0.1)
(100000304, 'Andrea', 'Jackson', 0.07)
(200000842, 'Matt', 'Manning', 0.06)
(100000928, 'Stephen', 'Glover', 0.08)
(300000736, 'Anne', 'Butler', 0.1)
(200000414, 'Sebastian', 'Langdon', 0.06)
(100000871, 'Joshua', 'Kelly', 0.05)
(100000273, 'Jake', 'Skinner', 0.01)
(300000888, 'Pippa', 'Gray', 0.0)
(100000605, 'Jasmine', 'Wilkins', 0.1)
(300000340, 'Rebecca', 'Nash', 0.09)
(400000470, 'James', 'White', 0.08)
(400000002, 'Jasmine', 'Miller', 0.0)
(300000777, 'Jasmine', 'Lee', 0.01)
(100000922, 'Sally', 'Glover', 0.08)
(200000903, 'Jake', 'Peters', 0.1)
(200000408, 'Blake', 'Churchill', 0.01)
(200000110, 'Tim', 'Jones', 0.0)
(100000148, 'Madeleine', 'Ogden', 0.05)
(100000873, 'Chloe', 'McDonald', 0.0)
(300000612, 'Emily', 'Ince', 0.07)
(200000632, 'Nicholas', 'Allan', 0.03)
(100000157, 'Anthony', 'Cornish', 0.03)
(100000626, 'Lily', 'Hudson', 0.03)
(300000729, 'James', 'Quinn', 0.02)
(100000656, 'Dylan', 'Smith', 0.03)
(300000550, 'Fiona', 'Young', 0.09)
(200000579, 'James', 'Glover', 0.03)
(400000758, 'Julia', 'McDonald', 0.05)
(100000178, 'Dan', 'Piper', 0.06)
(100000346, 'Joseph', 'Buckland', 0.01)
(100000316, 'Mary', 'Carr', 0.01)
(100000444, 'Melanie', 'Nash', 0.07)
(100000882, 'Piers', 'Simpson', 0.06)
(100000643, 'Alison', 'Parsons', 0.07)
(200000586, 'Dylan', 'Piper', 0.0)
(200000384, 'Bella', 'Bailey', 0.0)
(100000172, 'Nicholas', 'Greene', 0.0)
(100000657, 'Emily', 'Reid', 0.07)
(200000361, 'Charles', 'Tucker', 0.09)
(100000679, 'Yvonne', 'Lambert', 0.07)
(300000496, 'Julia', 'Chapman', 0.03)
(300000687, 'Tim', 'Vance', 0.1)
(100000840, 'Gavin', 'Forsyth', 0.06)
(200000339, 'Theresa', 'Slater', 0.1)
(300000430, 'Amy', 'Welch', 0.08)
(100000216, 'Nathan', 'Turner', 0.01)
(200000803, 'Jason', 'Clark', 0.03)
(100000771, 'Joe', 'Short', 0.06)
(200000763, 'William', 'Lyman', 0.08)
(100000064, 'Bernadette', 'Gibson', 0.05)
(100000906, 'Caroline', 'Robertson', 0.0)
(100000781, 'Sonia', 'Welch', 0.02)
(200000700, 'Sam', 'Ball', 0.01)
(200000076, 'Michael', 'Hemmings', 0.02)
(400000113, 'Tim', 'Hardacre', 0.03)
(200000659, 'Stewart', 'Poole', 0.09)
(100000219, 'Alexander', 'Ince', 0.04)
(100000195, 'Amanda', 'Young', 0.09)
(200000684, 'Leonard', 'Nash', 0.08)
(200000261, 'Nathan', 'Howard', 0.05)
(400000517, 'Carol', 'Rutherford', 0.09)
(100000858, 'Simon', 'Baker', 0.07)
(100000694, 'Michael', 'Cameron', 0.04)
(100000326, 'Felicity', 'North', 0.07)
(200000912, 'Brian', 'Bower', 0.1)
(100000885, 'Vanessa', 'Manning', 0.07)
(100000328, 'Megan', 'Tucker', 0.08)
(200000457, 'Samantha', 'Mackay', 0.01)
(100000305, 'Kevin', 'Springer', 0.02)
(200000644, 'Tim', 'Marshall', 0.09)
(300000634, 'Heather', 'Mackay', 0.04)
(100000146, 'Andrew', 'Gray', 0.04)
(100000322, 'Alison', 'Lambert', 0.0)
(200000608, 'Adrian', 'Wright', 0.0)
(200000039, 'Luke', 'Martin', 0.04)
(200000362, 'Joshua', 'Underwood', 0.0)
(100000133, 'Ruth', 'Bower', 0.04)
(200000631, 'Sean', 'Lyman', 0.04)
(300000428, 'Diana', 'Bower', 0.01)
(100000577, 'Yvonne', 'Randall', 0.1)
(100000500, 'Grace', 'Stewart', 0.1)
(200000670, 'Richard', 'Carr', 0.05)
(100000123, 'Harry', 'Short', 0.09)
(300000685, 'Caroline', 'Ross', 0.08)
(100000089, 'Michelle', 'Ellison', 0.03)
(100000190, 'Vanessa', 'Avery', 0.05)
(200000191, 'Jason', 'Fisher', 0.03)
(100000277, 'Maria', 'Arnold', 0.01)
(100000456, 'Amanda', 'Ball', 0.04)
(300000735, 'John', 'Anderson', 0.09)
(200000904, 'Ryan', 'Gray', 0.1)
(300000074, 'Oliver', 'Simpson', 0.09)
(100000628, 'Rose', 'Davies', 0.08)
(100000028, 'Alison', 'Fisher', 0.02)
(100000175, 'Max', 'Stewart', 0.06)
(200000417, 'Andrew', 'Murray', 0.03)
(100000695, 'Penelope', 'Forsyth', 0.04)
(300000411, 'Edward', 'Dowd', 0.03)
(100000248, 'James', 'Miller', 0.1)
(100000231, 'Audrey', 'McGrath', 0.05)
(100000122, 'Jacob', 'Payne', 0.0)
(100000197, 'Blake', 'Ross', 0.07)
(100000093, 'Dan', 'Peake', 0.02)
(200000072, 'Angela', 'Roberts', 0.09)
(100000209, 'Christian', 'Sharp', 0.04)
(300000021, 'Boris', 'Johnston', 0.08)
(100000087, 'Jack', 'White', 0.06)
(100000143, 'Luke', 'Ball', 0.05)
(100000890, 'Piers', 'Peake', 0.0)
(200000462, 'Paul', 'Martin', 0.03)
(200000033, 'Grace', 'Chapman', 0.07)
(200000506, 'Harry', 'Payne', 0.03)
(100000291, 'Wanda', 'Quinn', 0.08)
(100000568, 'Oliver', 'Hudson', 0.09)
(100000134, 'Owen', 'Powell', 0.02)
(300000468, 'Jasmine', 'Allan', 0.01)
(100000011, 'Dominic', 'Lewis', 0.02)
(100000860, 'Rebecca', 'Ross', 0.05)
(100000034, 'Jake', 'Wilson', 0.0)
(100000313, 'Jessica', 'Piper', 0.01)
(100000308, 'John', 'Campbell', 0.05)
(100000327, 'Dominic', 'Miller', 0.06)
(200000833, 'Benjamin', 'King', 0.07)
(200000040, 'Gavin', 'Pullman', 0.01)
(100000309, 'Alexander', 'Edmunds', 0.02)
(200000801, 'Karen', 'MacDonald', 0.07)
(200000017, 'Grace', 'Hill', 0.03)
(400000450, 'Jake', 'Cornish', 0.08)
(200000438, 'Colin', 'Howard', 0.03)
(300000530, 'Chloe', 'Hill', 0.05)
(200000105, 'Stephen', 'Ross', 0.0)
(300000768, 'Tracey', 'Clark', 0.02)
(100000827, 'Amy', 'Buckland', 0.08)
(100000707, 'David', 'Graham', 0.1)
(300000073, 'Hannah', 'White', 0.05)
(100000320, 'Ryan', 'Morrison', 0.08)
(100000235, 'Jessica', 'James', 0.04)
(100000680, 'Ruth', 'Short', 0.03)
(400000721, 'James', 'Dowd', 0.0)
(200000008, 'Lisa', 'Knox', 0.06)
(200000658, 'John', 'Payne', 0.07)
(100000773, 'Austin', 'Lee', 0.1)
(100000875, 'Jason', 'MacLeod', 0.06)
(100000825, 'Jason', 'Berry', 0.01)
(100000135, 'Piers', 'King', 0.03)
(100000788, 'Kylie', 'Lawrence', 0.08)
(400000115, 'Ruth', 'Oliver', 0.1)
(100000796, 'Tracey', 'Ogden', 0.03)
(200000210, 'Blake', 'Rutherford', 0.07)
(100000156, 'Charles', 'Roberts', 0.06)
(200000856, 'William', 'McLean', 0.05)
(100000452, 'Peter', 'Quinn', 0.07)
(100000884, 'Lisa', 'Turner', 0.1)
(100000220, 'Maria', 'Simpson', 0.09)
(100000096, 'Joshua', 'Slater', 0.03)
(200000712, 'Gordon', 'Simpson', 0.06)
(100000153, 'Elizabeth', 'Oliver', 0.05)
(400000759, 'Neil', 'James', 0.01)
(200000018, 'Samantha', 'Coleman', 0.04)
(100000292, 'Karen', 'Glover', 0.05)
(100000224, 'Christian', 'Baker', 0.03)
(100000743, 'Jan', 'Underwood', 0.07)
(100000124, 'John', 'Black', 0.05)
(100000119, 'Vanessa', 'Lyman', 0.01)
(400000720, 'William', 'Grant', 0.04)
(100000902, 'Jake', 'White', 0.01)
(100000204, 'Fiona', 'Vance', 0.01)
(200000458, 'Lucas', 'Tucker', 0.0)
(100000547, 'Sue', 'Baker', 0.0)
(100000446, 'Christian', 'Abraham', 0.08)
(200000820, 'Lucas', 'Walsh', 0.09)
(100000299, 'Zoe', 'Johnston', 0.04)
(100000421, 'Kimberly', 'Wallace', 0.05)
(400000516, 'Hannah', 'Oliver', 0.1)
(100000212, 'Eric', 'North', 0.0)
(300000652, 'Chloe', 'Forsyth', 0.04)
(100000604, 'Angela', 'Short', 0.0)
(200000629, 'Benjamin', 'McDonald', 0.09)
(200000483, 'Anthony', 'Gill', 0.1)
(100000078, 'Diane', 'Simpson', 0.03)
(100000226, 'Gordon', 'Fraser', 0.07)
(100000576, 'Madeleine', 'Hamilton', 0.02)
(200000941, 'Benjamin', 'Manning', 0.02)
(100000038, 'Robert', 'Cornish', 0.05)
(100000234, 'Brian', 'Mackay', 0.01)
(200000101, 'Stewart', 'Lewis', 0.01)
(100000868, 'Nicola', 'Walsh', 0.1)
(200000728, 'John', 'Buckland', 0.04)
(100000311, 'Lucas', 'Avery', 0.07)
(200000480, 'Harry', 'Reid', 0.09)
(100000519, 'Alexander', 'Duncan', 0.0)
(100000240, 'John', 'Baker', 0.05)
(200000672, 'Audrey', 'Ince', 0.08)
(100000001, 'Simon', 'Walsh', 0.1)
(100000872, 'Sally', 'MacDonald', 0.1)
(100000060, 'Ryan', 'White', 0.01)
(300000079, 'Ruth', 'Mathis', 0.07)
(100000831, 'Steven', 'Morrison', 0.1)
(100000225, 'Piers', 'White', 0.09)
(300000552, 'Bernadette', 'Ferguson', 0.02)
(100000454, 'Edward', 'Hart', 0.07)
(200000887, 'Jan', 'Robertson', 0.02)
(100000063, 'Kevin', 'Gibson', 0.07)
(100000279, 'Blake', 'Alsop', 0.08)
(100000797, 'Penelope', 'Mackenzie', 0.01)
(100000221, 'Sally', 'Arnold', 0.08)
(300000594, 'Joan', 'Randall', 0.1)
(200000024, 'Carl', 'Quinn', 0.08)
(100000199, 'Jasmine', 'Terry', 0.03)
(100000174, 'Penelope', 'Glover', 0.04)
(100000237, 'Alison', 'Hudson', 0.07)
(200000481, 'Joan', 'Gray', 0.04)
(400000419, 'Alison', 'Kerr', 0.01)
(400000044, 'Yvonne', 'Churchill', 0.06)
(300000688, 'Wendy', 'Piper', 0.1)
(100000900, 'Fiona', 'Miller', 0.05)
(100000498, 'Emma', 'Lewis', 0.04)
(100000927, 'Victoria', 'Wilson', 0.1)
(100000920, 'Steven', 'Hill', 0.02)
(200000505, 'Brandon', 'Peake', 0.06)
(100000566, 'Diane', 'Berry', 0.1)
(200000424, 'Keith', 'Ogden', 0.05)
(200000416, 'Gordon', 'Lee', 0.04)
(100000116, 'Alison', 'Johnston', 0.01)
(200000671, 'Carolyn', 'Arnold', 0.1)
(400000540, 'Fiona', 'Baker', 0.08)
(300000429, 'Trevor', 'Reid', 0.01)
(400000676, 'Andrea', 'Nolan', 0.04)
(200000484, 'Ian', 'Morrison', 0.09)
(100000184, 'Peter', 'McGrath', 0.03)
(400000601, 'Blake', 'Anderson', 0.0)
(100000149, 'Dylan', 'Davies', 0.0)
(300000367, 'Karen', 'Gray', 0.02)
(100000329, 'Deirdre', 'Coleman', 0.07)
(200000834, 'Sebastian', 'Morgan', 0.01)
(400000554, 'Carol', 'Marshall', 0.09)
(300000418, 'Christian', 'McLean', 0.05)
(100000560, 'Jacob', 'King', 0.07)
(100000476, 'Donna', 'Robertson', 0.1)
(400000272, 'Rose', 'Blake', 0.08)
(100000187, 'Emma', 'Parr', 0.02)
(200000166, 'William', 'Mitchell', 0.0)
(100000161, 'Diana', 'Powell', 0.0)
(200000069, 'Jason', 'Sharp', 0.09)
(300000527, 'Mary', 'Stewart', 0.04)
(300000510, 'Peter', 'Scott', 0.06)
(100000094, 'Lisa', 'Davies', 0.01)
(200000665, 'Edward', 'Turner', 0.03)
(300000529, 'Amelia', 'Nolan', 0.07)
(200000070, 'Kevin', 'Parr', 0.03)
(200000485, 'Alan', 'Murray', 0.03)
(300000440, 'Sally', 'Mitchell', 0.04)
(100000655, 'Brandon', 'Walsh', 0.01)
(200000266, 'Karen', 'Oliver', 0.1)
(100000037, 'Sophie', 'Gill', 0.0)
(100000290, 'Joe', 'May', 0.07)
(200000503, 'Warren', 'Lyman', 0.08)
(200000810, 'Felicity', 'Wilkins', 0.05)
(100000162, 'Emma', 'Peters', 0.05)
(100000862, 'Jack', 'Young', 0.03)
(200000371, 'Alan', 'Kelly', 0.0)
(100000342, 'Christian', 'Jackson', 0.1)
(200000107, 'Ian', 'Wilson', 0.04)
(200000910, 'Owen', 'Henderson', 0.0)
(200000406, 'Ian', 'May', 0.1)
(200000535, 'Ryan', 'Marshall', 0.05)
(100000201, 'Oliver', 'Dickens', 0.0)
(100000502, 'Pippa', 'Johnston', 0.04)
(100000215, 'Alan', 'Murray', 0.05)
(400000625, 'Eric', 'Oliver', 0.01)
(200000347, 'Jake', 'Manning', 0.02)
(100000019, 'William', 'Ince', 0.09)
(300000667, 'Richard', 'Watson', 0.07)
(300000525, 'Luke', 'Mathis', 0.06)
(200000067, 'Dan', 'Ellison', 0.03)
(100000097, 'Heather', 'Wallace', 0.09)
(100000151, 'Connor', 'Grant', 0.1)
(200000784, 'Dominic', 'Hart', 0.04)
(300000392, 'Yvonne', 'Piper', 0.03)
(100000437, 'Sean', 'Sanderson', 0.03)
(100000120, 'Andrea', 'Dickens', 0.09)
(200000843, 'Adam', 'Gibson', 0.06)
(100000211, 'Robert', 'Wright', 0.02)
(100000054, 'Irene', 'MacLeod', 0.07)
(100000742, 'Brandon', 'Churchill', 0.03)
(300000553, 'Zoe', 'Ferguson', 0.06)
(100000818, 'Tracey', 'Sharp', 0.08)
(200000463, 'Paul', 'Reid', 0.02)
(100000208, 'Phil', 'Lewis', 0.0)
(300000409, 'Stewart', 'Scott', 0.09)
(100000278, 'Irene', 'Vaughan', 0.09)
(100000867, 'Evan', 'Abraham', 0.1)
(100000281, 'Sam', 'Parsons', 0.04)
(100000925, 'Andrew', 'Bell', 0.03)
(100000198, 'Tim', 'North', 0.0)
(300000009, 'Ruth', 'Campbell', 0.03)
(100000807, 'Gordon', 'May', 0.06)
(100000288, 'Liam', 'King', 0.0)
(300000375, 'Molly', 'Black', 0.01)
(100000003, 'Liam', 'Brown', 0.09)
(200000426, 'Andrew', 'Jackson', 0.1)
(100000641, 'Amanda', 'Payne', 0.1)
(400000449, 'Edward', 'Buckland', 0.06)
(200000257, 'Justin', 'Underwood', 0.05)
(100000455, 'Eric', 'Henderson', 0.05)
(200000046, 'Lisa', 'Berry', 0.0)
(100000246, 'Justin', 'Paterson', 0.01)
(200000108, 'Piers', 'Quinn', 0.03)

In [ ]:
#Populate table item
item_data.to_sql('item', conn, if_exists='append', index=False)

# Commit changes
conn.commit()

In [ ]:
cursor = conn.cursor()

cursor.execute('SELECT * FROM item')

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

In [ ]:
#Populate table transactions
transactions_data.to_sql('transactions', conn, if_exists='append', index=False)

# Commit changes
conn.commit()

In [ ]:
cursor = conn.cursor()

cursor.execute('SELECT * FROM transactions')

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)