In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3

db_path = '/content/drive/MyDrive/SQLpractice/store_sales.db'
conn = sqlite3.connect(db_path)

In [ ]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query to get table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the cursor and the database connection
cursor.close()

customer
item
transactions

In [1]:
#To check if I am accessing the database previously created and populated
cursor = conn.cursor()

cursor.execute('SELECT * FROM transactions LIMIT 5')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

NameError: ignored