In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import sqlite3

db_path = '/content/drive/MyDrive/SQLpractice/store_sales.db'
conn = sqlite3.connect(db_path)

In [4]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query to get table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the cursor and the database connection
cursor.close()

customer
item
transactions

In [6]:
cursor.execute('SELECT * FROM customer LIMIT 5')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['CustomerID', 'Name', 'Surname', 'Loyalty_Discount']
(200000663, 'Leonard', 'Jackson', 0.02)
(200000661, 'Lucas', 'Abraham', 0.0)
(200000662, 'Trevor', 'Skinner', 0.1)
(100000007, 'Dorothy', 'Thomson', 0.07)
(400000180, 'Eric', 'Bower', 0.06)

In [7]:
cursor.execute('SELECT * FROM item LIMIT 5')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['ItemID', 'Description', 'Retail_Price']
(8619953091, 'Pillowcase', 18.96)
(2020397001, "Men's Pajama Set", 23.1)
(4681342313, 'Sheets', 29.9)
(6697166886, 'Coat', 159.8)
(5187373849, 'Short Slip', 12.87)

In [5]:
# Checking if I am accessing the database previously created and populated
cursor = conn.cursor()

cursor.execute('SELECT * FROM transactions LIMIT 5')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['TransactionID', 'Timestamp', 'CustomerID', 'ItemID', 'Shipping_State']
(113255, '2016-12-13 18:05:37', 200000663, 8619953091, 'Delaware')
(113254, '2016-12-13 18:05:22', 200000661, 2020397001, 'Louisiana')
(113253, '2016-12-13 18:03:57', 200000662, 4681342313, 'Louisiana')
(113252, '2016-12-13 18:01:45', 100000007, 6697166886, 'Alabama')
(113251, '2016-12-13 18:01:22', 400000180, 6697166886, 'New Hampshire')

# **SQL queries**



### Qual o estado que faz mais compras?

### Media de vendas por hora no estado que fez mais compras?

### Qual foi o produto mais caro vendido?

### Qual o maior desconto? e o menor? outros descontos?

### 5 pessoas que compraram mais em quantidade? e em valor?

### Quantos produtos o Andre Jackson comprou? Quanto gastou em compras? Quanto poupou com o desconto? qual foi o dia em que o andrew fez mais compras?

In [15]:
cursor = conn.cursor()

### Total de vendas?

In [17]:
cursor.execute('''SELECT COUNT(*) as number_of_sales
                  FROM transactions;''')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['number_of_sales']
(3455,)

### Qual o dia com mais vendas?

In [16]:
cursor.execute('''SELECT strftime('%Y-%m-%d', Timestamp) as day, COUNT(*) as count
                  FROM transactions
                  GROUP BY day;''')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['day', 'count']
('2016-12-10', 288)
('2016-12-11', 1171)
('2016-12-12', 1167)
('2016-12-13', 829)

### Quantos de cada item foram vendidos em cada dia?
Note: Ther are products with the same description.

In [66]:
cursor.execute('''SELECT strftime('%Y-%m-%d', transactions.Timestamp) as day, item.ItemID, item.Description, COUNT(item.ItemID) as count
                  FROM transactions
                  INNER JOIN item
                  ON item.ItemID = transactions.ItemID                  
                  GROUP BY day,item.ItemID
                  ORDER BY count DESC;''')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['day', 'ItemID', 'Description', 'count']
('2016-12-11', 8713824671, 'Infant 2 Piece Set', 18)
('2016-12-11', 2210750188, 'Blazer', 16)
('2016-12-11', 6962492078, 'Bath Mat', 16)
('2016-12-12', 2963300774, 'Sweatshirt', 16)
('2016-12-12', 6697166886, 'Coat', 16)
('2016-12-11', 6697166886, 'Coat', 15)
('2016-12-11', 9916068026, 'Gowns/Pajamas', 15)
('2016-12-12', 3126356136, 'Formal Dress', 15)
('2016-12-12', 5997626126, 'Coat/Jacket', 15)
('2016-12-12', 8619953091, 'Pillowcase', 15)
('2016-12-13', 3305177499, 'Coveralls (long sleeve)', 15)
('2016-12-11', 1489444777, 'Short Gown', 14)
('2016-12-11', 2430071492, 'Dust Ruffle', 14)
('2016-12-11', 3123824581, 'Sweatpants', 14)
('2016-12-11', 5736433915, 'Mattress Cover', 14)
('2016-12-12', 1284609276, 'Sweater', 14)
('2016-12-12', 1940915493, 'Long Gown', 14)
('2016-12-12', 2430071492, 'Dust Ruffle', 14)
('2016-12-12', 3405268556, 'Handbag', 14)
('2016-12-12', 6182400847, 'Blazer', 14)
('2016-12-11', 2178891798, 'Hand Towel', 13)
('2016-12-11', 4538875409, 'Couch Cover', 13)
('2016-12-11', 5509524170, 'Couch Cover', 13)
('2016-12-11', 8058527540, 'Jeans', 13)
('2016-12-11', 8619953091, 'Pillowcase', 13)
('2016-12-11', 9313710898, 'Dish Towel', 13)
('2016-12-11', 9870137717, 'Crib Sheet', 13)
('2016-12-12', 1737807900, 'Tie', 13)
('2016-12-12', 1988250904, 'Coat', 13)
('2016-12-12', 7502168586, 'Baby Quilt', 13)
('2016-12-12', 8241463559, 'Wallet', 13)
('2016-12-12', 8586814459, 'Gown & Robe Set', 13)
('2016-12-12', 8713824671, 'Infant 2 Piece Set', 13)
('2016-12-12', 8864799421, 'Valance', 13)
('2016-12-13', 4327321762, 'Dress', 13)
('2016-12-13', 5127562193, 'Robe', 13)
('2016-12-11', 2248992375, 'Sweater', 12)
('2016-12-11', 2782517448, 'Belt', 12)
('2016-12-11', 2963300774, 'Sweatshirt', 12)
('2016-12-11', 4681342313, 'Sheets', 12)
('2016-12-11', 4934584980, 'Nylon Pants', 12)
('2016-12-11', 5153370805, 'Shorts', 12)
('2016-12-11', 6182617964, 'Long Gown', 12)
('2016-12-11', 6988128169, 'Handbag', 12)
('2016-12-11', 8438262686, 'Robe', 12)
('2016-12-11', 8624682735, 'Coat', 12)
('2016-12-11', 8694351166, 'Chair Cover', 12)
('2016-12-11', 9195451761, 'Hand Towel', 12)
('2016-12-12', 1489444777, 'Short Gown', 12)
('2016-12-12', 2113413915, 'Shorts', 12)
('2016-12-12', 3795753080, 'Jeans', 12)
('2016-12-12', 5187883584, 'Dish Towel', 12)
('2016-12-12', 6182617964, 'Long Gown', 12)
('2016-12-12', 6388591017, 'Baby Quilt', 12)
('2016-12-12', 6917448328, 'Socks', 12)
('2016-12-12', 7425260271, 'Mattress Cover', 12)
('2016-12-12', 7833392032, 'Skirt', 12)
('2016-12-13', 1737807900, 'Tie', 12)
('2016-12-13', 3390230025, 'Top', 12)
('2016-12-13', 5480721202, 'Shirt', 12)
('2016-12-11', 1303837083, 'Suit', 11)
('2016-12-11', 2355020550, 'Sweater', 11)
('2016-12-11', 2557931901, 'Short Gown', 11)
('2016-12-11', 3126356136, 'Formal Dress', 11)
('2016-12-11', 3132788435, 'Coat', 11)
('2016-12-11', 3795753080, 'Jeans', 11)
('2016-12-11', 4327321762, 'Dress', 11)
('2016-12-11', 4619440506, 'Shorts', 11)
('2016-12-11', 6182400847, 'Blazer', 11)
('2016-12-11', 6265788387, 'Commode Cover', 11)
('2016-12-11', 7645888340, 'Bath Mat', 11)
('2016-12-11', 9166887914, 'Sweater', 11)
('2016-12-11', 9873264896, 'Hat', 11)
('2016-12-12', 1039854547, 'Coat', 11)
('2016-12-12', 1893735141, 'Socks', 11)
('2016-12-12', 3452086694, 'Bra', 11)
('2016-12-12', 3750666773, 'Waterbed Sheet', 11)
('2016-12-12', 4327321762, 'Dress', 11)
('2016-12-12', 4391642886, "Men's Pajama Set", 11)
('2016-12-12', 4538875409, 'Couch Cover', 11)
('2016-12-12', 5050067655, 'Bottoms', 11)
('2016-12-12', 6511971572, 'Sleeping Bag', 11)
('2016-12-12', 8068199275, 'Slacks', 11)
('2016-12-12', 8143229140, 'Shower Shoes', 11)
('2016-12-12', 8438262686, 'Robe', 11)
('2016-12-13', 5509524170, 'Couch Cover', 11)
('2016-12-13', 6511971572, 'Sleeping Bag', 11)
('2016-12-13', 6697166886, 'Coat', 11)
('2016-12-13', 8586814459, 'Gown & Robe Set', 11)
('2016-12-11', 1284609276, 'Sweater', 10)
('2016-12-11', 1336619171, 'Slacks', 10)
('2016-12-11', 1625450539, 'Dress', 10)
('2016-12-11', 2363094138, 'Short Overalls', 10)
('2016-12-11', 2876522496, 'Jacket', 10)
('2016-12-11', 3405268556, 'Handbag', 10)
('2016-12-11', 3819369487, 'Dish Towel', 10)
('2016-12-11', 3890778939, 'Suit & 2 pc Dress', 10)
('2016-12-11', 4574639519, 'Jeans', 10)
('2016-12-11', 5997626126, 'Coat/Jacket', 10)
('2016-12-11', 6511971572, 'Sleeping Bag', 10)
('2016-12-11', 6917448328, 'Socks', 10)
('2016-12-11', 6991736764, 'Pillow Sham', 10)
('2016-12-11', 7270957383, 'Scarf', 10)
('2016-12-11', 7425260271, 'Mattress Cover', 10)
('2016-12-11', 7502168586, 'Baby Quilt', 10)
('2016-12-11', 7833392032, 'Skirt', 10)
('2016-12-11', 8241463559, 'Wallet', 10)
('2016-12-11', 8675740287, 'Baby Quilt', 10)
('2016-12-11', 8948840620, 'Gloves', 10)
('2016-12-12', 1082405301, 'Blazer', 10)
('2016-12-12', 2153011099, 'Gown & Robe Set', 10)
('2016-12-12', 2248992375, 'Sweater', 10)
('2016-12-12', 2355020550, 'Sweater', 10)
('2016-12-12', 2524845521, 'Gown & Robe Set', 10)
('2016-12-12', 2557931901, 'Short Gown', 10)
('2016-12-12', 2876522496, 'Jacket', 10)
('2016-12-12', 2926937052, 'Washcloth', 10)
('2016-12-12', 3132788435, 'Coat', 10)
('2016-12-12', 3135576553, 'Underwear', 10)
('2016-12-12', 3382973348, 'Top', 10)
('2016-12-12', 3390230025, 'Top', 10)
('2016-12-12', 4291344502, 'Long Overalls', 10)
('2016-12-12', 4398051135, 'Bra', 10)
('2016-12-12', 5187373849, 'Short Slip', 10)
('2016-12-12', 6719567315, 'Blouse', 10)
('2016-12-12', 7270957383, 'Scarf', 10)
('2016-12-12', 7463357829, 'Infant 2 Piece Set', 10)
('2016-12-12', 8948840620, 'Gloves', 10)
('2016-12-12', 9870137717, 'Crib Sheet', 10)
('2016-12-13', 1336619171, 'Slacks', 10)
('2016-12-13', 2588421965, 'Commode Cover', 10)
('2016-12-11', 1319286996, 'Gowns/Pajamas', 9)
('2016-12-11', 3135576553, 'Underwear', 9)
('2016-12-11', 3390230025, 'Top', 9)
('2016-12-11', 3452086694, 'Bra', 9)
('2016-12-11', 3495221948, 'Suit & 2 pc Dress', 9)
('2016-12-11', 3962085980, 'Sleeper', 9)
('2016-12-11', 4291344502, 'Long Overalls', 9)
('2016-12-11', 4391642886, "Men's Pajama Set", 9)
('2016-12-11', 4398051135, 'Bra', 9)
('2016-12-11', 4622769035, 'Short Gown', 9)
('2016-12-11', 5127562193, 'Robe', 9)
('2016-12-11', 6661671897, 'Swimwear', 9)
('2016-12-11', 8143229140, 'Shower Shoes', 9)
('2016-12-11', 8586814459, 'Gown & Robe Set', 9)
('2016-12-11', 9280265561, 'Coat/Jacket', 9)
('2016-12-11', 9862518267, 'Socks', 9)
('2016-12-12', 1336619171, 'Slacks', 9)
('2016-12-12', 1625450539, 'Dress', 9)
('2016-12-12', 2020397001, "Men's Pajama Set", 9)
('2016-12-12', 2178891798, 'Hand Towel', 9)
('2016-12-12', 2491559336, 'Jeans', 9)
('2016-12-12', 3123824581, 'Sweatpants', 9)
('2016-12-12', 3819369487, 'Dish Towel', 9)
('2016-12-12', 4619440506, 'Shorts', 9)
('2016-12-12', 5145202479, 'Crib Sheet', 9)
('2016-12-12', 5480721202, 'Shirt', 9)
('2016-12-12', 6962492078, 'Bath Mat', 9)
('2016-12-12', 6991736764, 'Pillow Sham', 9)
('2016-12-12', 8058527540, 'Jeans', 9)
('2016-12-12', 8213207925, 'Underwear & Boxers', 9)
('2016-12-12', 8269421724, 'Long Overalls', 9)
('2016-12-12', 8624682735, 'Coat', 9)
('2016-12-12', 8694351166, 'Chair Cover', 9)
('2016-12-12', 9223468295, 'Bath Mat', 9)
('2016-12-12', 9313710898, 'Dish Towel', 9)
('2016-12-12', 9862518267, 'Socks', 9)
('2016-12-13', 1160651321, 'Coat', 9)
('2016-12-13', 1893735141, 'Socks', 9)
('2016-12-13', 2248992375, 'Sweater', 9)
('2016-12-13', 2430071492, 'Dust Ruffle', 9)
('2016-12-13', 2524845521, 'Gown & Robe Set', 9)
('2016-12-13', 4924918902, 'T-shirt', 9)
('2016-12-13', 5145202479, 'Crib Sheet', 9)
('2016-12-13', 6228611532, 'Valance', 9)
('2016-12-13', 6648383061, 'Long Slip', 9)
('2016-12-13', 7010679527, 'Blanket', 9)
('2016-12-13', 7270957383, 'Scarf', 9)
('2016-12-13', 7425260271, 'Mattress Cover', 9)
('2016-12-13', 7833392032, 'Skirt', 9)
('2016-12-13', 8213207925, 'Underwear & Boxers', 9)
('2016-12-13', 8262662751, 'Suit', 9)
('2016-12-11', 1160651321, 'Coat', 8)
('2016-12-11', 2020397001, "Men's Pajama Set", 8)
('2016-12-11', 2113413915, 'Shorts', 8)
('2016-12-11', 2153011099, 'Gown & Robe Set', 8)
('2016-12-11', 2524845521, 'Gown & Robe Set', 8)
('2016-12-11', 5310615417, 'Tie', 8)
('2016-12-11', 5608950888, 'Suit & 2 pc Dress', 8)
('2016-12-11', 6648383061, 'Long Slip', 8)
('2016-12-11', 6660530324, 'Washcloth', 8)
('2016-12-11', 7010679527, 'Blanket', 8)
('2016-12-11', 8213207925, 'Underwear & Boxers', 8)
('2016-12-11', 8262662751, 'Suit', 8)
('2016-12-11', 9223468295, 'Bath Mat', 8)
('2016-12-11', 9730446421, 'Blazer', 8)
('2016-12-12', 1303837083, 'Suit', 8)
('2016-12-12', 1319286996, 'Gowns/Pajamas', 8)
('2016-12-12', 2240469836, 'Slippers', 8)
('2016-12-12', 3305177499, 'Coveralls (long sleeve)', 8)
('2016-12-12', 4584868492, 'T-shirt', 8)
('2016-12-12', 4622769035, 'Short Gown', 8)
('2016-12-12', 4934584980, 'Nylon Pants', 8)
('2016-12-12', 5127562193, 'Robe', 8)
('2016-12-12', 5153370805, 'Shorts', 8)
('2016-12-12', 5310615417, 'Tie', 8)
('2016-12-12', 5857761910, 'Gowns/Pajamas', 8)
('2016-12-12', 7841340144, 'Shirt', 8)
('2016-12-12', 9730446421, 'Blazer', 8)
('2016-12-12', 9873264896, 'Hat', 8)
('2016-12-13', 1039854547, 'Coat', 8)
('2016-12-13', 2363094138, 'Short Overalls', 8)
('2016-12-13', 2491559336, 'Jeans', 8)
('2016-12-13', 2695940506, 'Sweater', 8)
('2016-12-13', 2782517448, 'Belt', 8)
('2016-12-13', 2963300774, 'Sweatshirt', 8)
('2016-12-13', 3126356136, 'Formal Dress', 8)
('2016-12-13', 3256419181, 'Short Slip', 8)
('2016-12-13', 3405268556, 'Handbag', 8)
('2016-12-13', 3750666773, 'Waterbed Sheet', 8)
('2016-12-13', 4291344502, 'Long Overalls', 8)
('2016-12-13', 6182617964, 'Long Gown', 8)
('2016-12-13', 6917448328, 'Socks', 8)
('2016-12-13', 7841340144, 'Shirt', 8)
('2016-12-13', 8619953091, 'Pillowcase', 8)
('2016-12-13', 8694351166, 'Chair Cover', 8)
('2016-12-13', 8713824671, 'Infant 2 Piece Set', 8)
('2016-12-13', 8864799421, 'Valance', 8)
('2016-12-13', 9313710898, 'Dish Towel', 8)
('2016-12-13', 9873264896, 'Hat', 8)
('2016-12-11', 1082405301, 'Blazer', 7)
('2016-12-11', 1737807900, 'Tie', 7)
('2016-12-11', 1893735141, 'Socks', 7)
('2016-12-11', 1988250904, 'Coat', 7)
('2016-12-11', 2491559336, 'Jeans', 7)
('2016-12-11', 2695940506, 'Sweater', 7)
('2016-12-11', 3305177499, 'Coveralls (long sleeve)', 7)
('2016-12-11', 5145202479, 'Crib Sheet', 7)
('2016-12-11', 7463357829, 'Infant 2 Piece Set', 7)
('2016-12-11', 7645689457, 'Apron', 7)
('2016-12-11', 7841340144, 'Shirt', 7)
('2016-12-11', 8269421724, 'Long Overalls', 7)
('2016-12-11', 9538578209, 'Dress', 7)
('2016-12-12', 2210750188, 'Blazer', 7)
('2016-12-12', 2782517448, 'Belt', 7)
('2016-12-12', 4574639519, 'Jeans', 7)
('2016-12-12', 4681342313, 'Sheets', 7)
('2016-12-12', 4924918902, 'T-shirt', 7)
('2016-12-12', 5509524170, 'Couch Cover', 7)
('2016-12-12', 5736433915, 'Mattress Cover', 7)
('2016-12-12', 6548962456, 'Dust Ruffle', 7)
('2016-12-12', 6661671897, 'Swimwear', 7)
('2016-12-12', 7645689457, 'Apron', 7)
('2016-12-12', 9166887914, 'Sweater', 7)
('2016-12-13', 1319286996, 'Gowns/Pajamas', 7)
('2016-12-13', 2113413915, 'Shorts', 7)
('2016-12-13', 2355020550, 'Sweater', 7)
('2016-12-13', 2557931901, 'Short Gown', 7)
('2016-12-13', 3135576553, 'Underwear', 7)
('2016-12-13', 3819369487, 'Dish Towel', 7)
('2016-12-13', 3890778939, 'Suit & 2 pc Dress', 7)
('2016-12-13', 3962085980, 'Sleeper', 7)
('2016-12-13', 4574639519, 'Jeans', 7)
('2016-12-13', 5736433915, 'Mattress Cover', 7)
('2016-12-13', 5857761910, 'Gowns/Pajamas', 7)
('2016-12-13', 5997626126, 'Coat/Jacket', 7)
('2016-12-13', 6182400847, 'Blazer', 7)
('2016-12-13', 6991736764, 'Pillow Sham', 7)
('2016-12-13', 7690258628, 'Baby Blanket', 7)
('2016-12-10', 2695940506, 'Sweater', 6)
('2016-12-10', 5050067655, 'Bottoms', 6)
('2016-12-10', 7425260271, 'Mattress Cover', 6)
('2016-12-10', 7645888340, 'Bath Mat', 6)
('2016-12-11', 1940915493, 'Long Gown', 6)
('2016-12-11', 2588421965, 'Commode Cover', 6)
('2016-12-11', 3382973348, 'Top', 6)
('2016-12-11', 3750666773, 'Waterbed Sheet', 6)
('2016-12-11', 5050067655, 'Bottoms', 6)
('2016-12-11', 5187373849, 'Short Slip', 6)
('2016-12-11', 5187883584, 'Dish Towel', 6)
('2016-12-11', 5857761910, 'Gowns/Pajamas', 6)
('2016-12-11', 6388591017, 'Baby Quilt', 6)
('2016-12-11', 7690258628, 'Baby Blanket', 6)
('2016-12-12', 2363094138, 'Short Overalls', 6)
('2016-12-12', 2695940506, 'Sweater', 6)
('2016-12-12', 3962085980, 'Sleeper', 6)
('2016-12-12', 6660530324, 'Washcloth', 6)
('2016-12-12', 6988128169, 'Handbag', 6)
('2016-12-12', 7645888340, 'Bath Mat', 6)
('2016-12-12', 7690258628, 'Baby Blanket', 6)
('2016-12-12', 8262662751, 'Suit', 6)
('2016-12-12', 8675740287, 'Baby Quilt', 6)
('2016-12-12', 9916068026, 'Gowns/Pajamas', 6)
('2016-12-13', 1082405301, 'Blazer', 6)
('2016-12-13', 1489444777, 'Short Gown', 6)
('2016-12-13', 1625450539, 'Dress', 6)
('2016-12-13', 1988250904, 'Coat', 6)
('2016-12-13', 2020397001, "Men's Pajama Set", 6)
('2016-12-13', 2926937052, 'Washcloth', 6)
('2016-12-13', 3123824581, 'Sweatpants', 6)
('2016-12-13', 3132788435, 'Coat', 6)
('2016-12-13', 4622769035, 'Short Gown', 6)
('2016-12-13', 5050067655, 'Bottoms', 6)
('2016-12-13', 6719567315, 'Blouse', 6)
('2016-12-13', 8058527540, 'Jeans', 6)
('2016-12-13', 8068199275, 'Slacks', 6)
('2016-12-13', 8624682735, 'Coat', 6)
('2016-12-13', 8948840620, 'Gloves', 6)
('2016-12-13', 9195451761, 'Hand Towel', 6)
('2016-12-13', 9538578209, 'Dress', 6)
('2016-12-13', 9730446421, 'Blazer', 6)
('2016-12-13', 9916068026, 'Gowns/Pajamas', 6)
('2016-12-10', 1319286996, 'Gowns/Pajamas', 5)
('2016-12-10', 3123824581, 'Sweatpants', 5)
('2016-12-10', 6228611532, 'Valance', 5)
('2016-12-10', 8068199275, 'Slacks', 5)
('2016-12-10', 9195451761, 'Hand Towel', 5)
('2016-12-11', 2926937052, 'Washcloth', 5)
('2016-12-11', 4584868492, 'T-shirt', 5)
('2016-12-11', 4924918902, 'T-shirt', 5)
('2016-12-11', 5480721202, 'Shirt', 5)
('2016-12-11', 6719567315, 'Blouse', 5)
('2016-12-11', 8068199275, 'Slacks', 5)
('2016-12-12', 1160651321, 'Coat', 5)
('2016-12-12', 3256419181, 'Short Slip', 5)
('2016-12-12', 3495221948, 'Suit & 2 pc Dress', 5)
('2016-12-12', 3890778939, 'Suit & 2 pc Dress', 5)
('2016-12-12', 5608950888, 'Suit & 2 pc Dress', 5)
('2016-12-12', 6228611532, 'Valance', 5)
('2016-12-12', 7010679527, 'Blanket', 5)
('2016-12-12', 9538578209, 'Dress', 5)
('2016-12-13', 1284609276, 'Sweater', 5)
('2016-12-13', 1940915493, 'Long Gown', 5)
('2016-12-13', 2178891798, 'Hand Towel', 5)
('2016-12-13', 2210750188, 'Blazer', 5)
('2016-12-13', 2240469836, 'Slippers', 5)
('2016-12-13', 2876522496, 'Jacket', 5)
('2016-12-13', 3795753080, 'Jeans', 5)
('2016-12-13', 4538875409, 'Couch Cover', 5)
('2016-12-13', 4584868492, 'T-shirt', 5)
('2016-12-13', 5187373849, 'Short Slip', 5)
('2016-12-13', 5187883584, 'Dish Towel', 5)
('2016-12-13', 5310615417, 'Tie', 5)
('2016-12-13', 6660530324, 'Washcloth', 5)
('2016-12-13', 6661671897, 'Swimwear', 5)
('2016-12-13', 9166887914, 'Sweater', 5)
('2016-12-13', 9223468295, 'Bath Mat', 5)
('2016-12-13', 9862518267, 'Socks', 5)
('2016-12-10', 1284609276, 'Sweater', 4)
('2016-12-10', 1489444777, 'Short Gown', 4)
('2016-12-10', 2557931901, 'Short Gown', 4)
('2016-12-10', 2588421965, 'Commode Cover', 4)
('2016-12-10', 3256419181, 'Short Slip', 4)
('2016-12-10', 3452086694, 'Bra', 4)
('2016-12-10', 4291344502, 'Long Overalls', 4)
('2016-12-10', 4619440506, 'Shorts', 4)
('2016-12-10', 4924918902, 'T-shirt', 4)
('2016-12-10', 5187373849, 'Short Slip', 4)
('2016-12-10', 5310615417, 'Tie', 4)
('2016-12-10', 6182400847, 'Blazer', 4)
('2016-12-10', 6182617964, 'Long Gown', 4)
('2016-12-10', 6388591017, 'Baby Quilt', 4)
('2016-12-10', 7270957383, 'Scarf', 4)
('2016-12-10', 8948840620, 'Gloves', 4)
('2016-12-10', 9538578209, 'Dress', 4)
('2016-12-10', 9862518267, 'Socks', 4)
('2016-12-11', 1039854547, 'Coat', 4)
('2016-12-11', 2240469836, 'Slippers', 4)
('2016-12-11', 6228611532, 'Valance', 4)
('2016-12-11', 6548962456, 'Dust Ruffle', 4)
('2016-12-12', 2588421965, 'Commode Cover', 4)
('2016-12-12', 6265788387, 'Commode Cover', 4)
('2016-12-12', 6648383061, 'Long Slip', 4)
('2016-12-12', 9195451761, 'Hand Towel', 4)
('2016-12-12', 9280265561, 'Coat/Jacket', 4)
('2016-12-13', 1303837083, 'Suit', 4)
('2016-12-13', 3452086694, 'Bra', 4)
('2016-12-13', 4398051135, 'Bra', 4)
('2016-12-13', 4619440506, 'Shorts', 4)
('2016-12-13', 4681342313, 'Sheets', 4)
('2016-12-13', 4934584980, 'Nylon Pants', 4)
('2016-12-13', 5153370805, 'Shorts', 4)
('2016-12-13', 6265788387, 'Commode Cover', 4)
('2016-12-13', 7463357829, 'Infant 2 Piece Set', 4)
('2016-12-13', 7645689457, 'Apron', 4)
('2016-12-13', 8143229140, 'Shower Shoes', 4)
('2016-12-13', 8269421724, 'Long Overalls', 4)
('2016-12-13', 9280265561, 'Coat/Jacket', 4)
('2016-12-10', 1625450539, 'Dress', 3)
('2016-12-10', 2020397001, "Men's Pajama Set", 3)
('2016-12-10', 2178891798, 'Hand Towel', 3)
('2016-12-10', 2363094138, 'Short Overalls', 3)
('2016-12-10', 2782517448, 'Belt', 3)
('2016-12-10', 3305177499, 'Coveralls (long sleeve)', 3)
('2016-12-10', 4574639519, 'Jeans', 3)
('2016-12-10', 5127562193, 'Robe', 3)
('2016-12-10', 5153370805, 'Shorts', 3)
('2016-12-10', 6660530324, 'Washcloth', 3)
('2016-12-10', 6661671897, 'Swimwear', 3)
('2016-12-10', 6917448328, 'Socks', 3)
('2016-12-10', 6988128169, 'Handbag', 3)
('2016-12-10', 6991736764, 'Pillow Sham', 3)
('2016-12-10', 7502168586, 'Baby Quilt', 3)
('2016-12-10', 7645689457, 'Apron', 3)
('2016-12-10', 7690258628, 'Baby Blanket', 3)
('2016-12-10', 8143229140, 'Shower Shoes', 3)
('2016-12-10', 8241463559, 'Wallet', 3)
('2016-12-10', 9223468295, 'Bath Mat', 3)
('2016-12-10', 9873264896, 'Hat', 3)
('2016-12-10', 9916068026, 'Gowns/Pajamas', 3)
('2016-12-13', 2153011099, 'Gown & Robe Set', 3)
('2016-12-13', 3382973348, 'Top', 3)
('2016-12-13', 3495221948, 'Suit & 2 pc Dress', 3)
('2016-12-13', 4391642886, "Men's Pajama Set", 3)
('2016-12-13', 6388591017, 'Baby Quilt', 3)
('2016-12-13', 6548962456, 'Dust Ruffle', 3)
('2016-12-13', 6988128169, 'Handbag', 3)
('2016-12-13', 7645888340, 'Bath Mat', 3)
('2016-12-13', 8675740287, 'Baby Quilt', 3)
('2016-12-10', 1039854547, 'Coat', 2)
('2016-12-10', 1303837083, 'Suit', 2)
('2016-12-10', 1988250904, 'Coat', 2)
('2016-12-10', 2210750188, 'Blazer', 2)
('2016-12-10', 2240469836, 'Slippers', 2)
('2016-12-10', 2355020550, 'Sweater', 2)
('2016-12-10', 2524845521, 'Gown & Robe Set', 2)
('2016-12-10', 2876522496, 'Jacket', 2)
('2016-12-10', 2963300774, 'Sweatshirt', 2)
('2016-12-10', 3382973348, 'Top', 2)
('2016-12-10', 3390230025, 'Top', 2)
('2016-12-10', 3495221948, 'Suit & 2 pc Dress', 2)
('2016-12-10', 3750666773, 'Waterbed Sheet', 2)
('2016-12-10', 3890778939, 'Suit & 2 pc Dress', 2)
('2016-12-10', 4327321762, 'Dress', 2)
('2016-12-10', 4398051135, 'Bra', 2)
('2016-12-10', 4538875409, 'Couch Cover', 2)
('2016-12-10', 4584868492, 'T-shirt', 2)
('2016-12-10', 4934584980, 'Nylon Pants', 2)
('2016-12-10', 5145202479, 'Crib Sheet', 2)
('2016-12-10', 5480721202, 'Shirt', 2)
('2016-12-10', 5997626126, 'Coat/Jacket', 2)
('2016-12-10', 6265788387, 'Commode Cover', 2)
('2016-12-10', 6648383061, 'Long Slip', 2)
('2016-12-10', 6697166886, 'Coat', 2)
('2016-12-10', 7463357829, 'Infant 2 Piece Set', 2)
('2016-12-10', 7841340144, 'Shirt', 2)
('2016-12-10', 8058527540, 'Jeans', 2)
('2016-12-10', 8213207925, 'Underwear & Boxers', 2)
('2016-12-10', 8262662751, 'Suit', 2)
('2016-12-10', 8586814459, 'Gown & Robe Set', 2)
('2016-12-10', 8619953091, 'Pillowcase', 2)
('2016-12-10', 8675740287, 'Baby Quilt', 2)
('2016-12-10', 9166887914, 'Sweater', 2)
('2016-12-10', 9280265561, 'Coat/Jacket', 2)
('2016-12-10', 9313710898, 'Dish Towel', 2)
('2016-12-11', 3256419181, 'Short Slip', 2)
('2016-12-11', 8864799421, 'Valance', 2)
('2016-12-13', 5608950888, 'Suit & 2 pc Dress', 2)
('2016-12-13', 6962492078, 'Bath Mat', 2)
('2016-12-13', 7502168586, 'Baby Quilt', 2)
('2016-12-13', 8438262686, 'Robe', 2)
('2016-12-10', 1082405301, 'Blazer', 1)
('2016-12-10', 1893735141, 'Socks', 1)
('2016-12-10', 1940915493, 'Long Gown', 1)

### Qual o item mais vendido em cada dia?

In [73]:
cursor.execute('''SELECT day, ItemID, Description, MAX(count) FROM (SELECT strftime('%Y-%m-%d', transactions.Timestamp) as day, item.ItemID as ItemID, item.Description as Description, COUNT(item.ItemID) as count
                  FROM transactions
                  INNER JOIN item
                  ON item.ItemID = transactions.ItemID            
                  GROUP BY day, item.ItemID)
                  
                  GROUP BY day
                  ;''')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['day', 'ItemID', 'Description', 'MAX(count)']
('2016-12-10', 2695940506, 'Sweater', 6)
('2016-12-11', 8713824671, 'Infant 2 Piece Set', 18)
('2016-12-12', 2963300774, 'Sweatshirt', 16)
('2016-12-13', 3305177499, 'Coveralls (long sleeve)', 15)

### Quem comprou Coat e Robe?

In [126]:
cursor.execute('''SELECT transactions.TransactionID, customer.Name as Name, customer.Surname as Surname, item.Description as Description
                  FROM transactions
                  INNER JOIN customer
                  ON customer.CustomerID = transactions.CustomerID
                  INNER JOIN item
                  ON item.ItemID = transactions.ItemID                
                  WHERE Description IN ('Coat','Robe')
                  ORDER BY Name ASC;''')

# Fetch the column names and print them
columns = [description[0] for description in cursor.description]
print(columns)

# Fetch all the results as a list of tuples
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

['TransactionID', 'Name', 'Surname', 'Description']
(111369, 'Adam', 'Sharp', 'Robe')
(112305, 'Adrian', 'Wright', 'Coat')
(111108, 'Alexander', 'Hill', 'Coat')
(111600, 'Alexandra', 'Mathis', 'Coat')
(112682, 'Alison', 'Fisher', 'Coat')
(111525, 'Alison', 'Taylor', 'Coat')
(112991, 'Amanda', 'Mackenzie', 'Coat')
(112938, 'Amanda', 'Young', 'Coat')
(111177, 'Amanda', 'Payne', 'Robe')
(110445, 'Amanda', 'King', 'Robe')
(112701, 'Amy', 'Wilkins', 'Coat')
(111489, 'Amy', 'Glover', 'Coat')
(110163, 'Amy', 'Miller', 'Coat')
(109961, 'Amy', 'Wilkins', 'Robe')
(112568, 'Andrea', 'Dickens', 'Coat')
(110343, 'Andrea', 'Newman', 'Coat')
(109828, 'Andrew', 'Wright', 'Coat')
(113122, 'Angela', 'Lawrence', 'Robe')
(113072, 'Anna', 'Lee', 'Coat')
(110278, 'Audrey', 'McGrath', 'Robe')
(112073, 'Bella', 'Vaughan', 'Coat')
(111862, 'Benjamin', 'Ince', 'Coat')
(111513, 'Bernadette', 'Duncan', 'Coat')
(110726, 'Blake', 'Vance', 'Robe')
(110611, 'Blake', 'Vance', 'Coat')
(110218, 'Blake', 'MacDonald', 'Coat')
(111980, 'Boris', 'Walker', 'Coat')
(113132, 'Brandon', 'Morgan', 'Coat')
(113108, 'Brandon', 'Clark', 'Robe')
(111912, 'Brian', 'Arnold', 'Coat')
(109927, 'Brian', 'Short', 'Coat')
(112436, 'Cameron', 'Short', 'Coat')
(112023, 'Cameron', 'Knox', 'Coat')
(110360, 'Cameron', 'Knox', 'Coat')
(110137, 'Cameron', 'Alsop', 'Coat')
(112692, 'Carl', 'Quinn', 'Robe')
(112086, 'Caroline', 'Robertson', 'Coat')
(111435, 'Carolyn', 'Arnold', 'Coat')
(110694, 'Carolyn', 'Lewis', 'Coat')
(112462, 'Charles', 'Tucker', 'Robe')
(111616, 'Charles', 'Brown', 'Robe')
(112293, 'Chloe', 'Bond', 'Coat')
(112471, 'Christopher', 'McGrath', 'Coat')
(112287, 'Christopher', 'Mackenzie', 'Coat')
(111532, 'Christopher', 'Anderson', 'Coat')
(110976, 'Christopher', 'Langdon', 'Coat')
(111777, 'Claire', 'Dickens', 'Coat')
(111929, 'Colin', 'Hill', 'Robe')
(111173, 'Colin', 'Howard', 'Coat')
(111752, 'Connor', 'Gill', 'Coat')
(112863, 'Dan', 'Mills', 'Coat')
(112575, 'Dan', 'Ellison', 'Robe')
(110391, 'Dan', 'Metcalfe', 'Coat')
(110103, 'Dan', 'Piper', 'Coat')
(113060, 'David', 'Arnold', 'Coat')
(112480, 'David', 'Graham', 'Coat')
(111680, 'Deirdre', 'Parsons', 'Coat')
(111142, 'Deirdre', 'Nolan', 'Coat')
(110999, 'Diane', 'Simpson', 'Robe')
(110592, 'Diane', 'Simpson', 'Robe')
(111659, 'Donna', 'Robertson', 'Coat')
(110539, 'Donna', 'Robertson', 'Coat')
(113252, 'Dorothy', 'Thomson', 'Coat')
(112665, 'Dorothy', 'Thomson', 'Robe')
(111725, 'Dylan', 'Fraser', 'Coat')
(109897, 'Dylan', 'Fraser', 'Coat')
(111590, 'Edward', 'Terry', 'Coat')
(111292, 'Edward', 'Hart', 'Coat')
(111068, 'Emma', 'Piper', 'Robe')
(109860, 'Emma', 'Parr', 'Coat')
(113251, 'Eric', 'Bower', 'Coat')
(112753, 'Eric', 'North', 'Coat')
(110186, 'Eric', 'Wilson', 'Coat')
(110179, 'Eric', 'Wilson', 'Coat')
(110267, 'Evan', 'Abraham', 'Robe')
(110815, 'Felicity', 'Metcalfe', 'Coat')
(110798, 'Felicity', 'Wilkins', 'Coat')
(113205, 'Fiona', 'Buckland', 'Coat')
(112700, 'Fiona', 'Buckland', 'Coat')
(112223, 'Fiona', 'Rees', 'Coat')
(110714, 'Fiona', 'Underwood', 'Coat')
(110497, 'Fiona', 'Baker', 'Coat')
(110424, 'Fiona', 'Allan', 'Coat')
(111320, 'Gavin', 'Sanderson', 'Robe')
(110915, 'Gordon', 'Simpson', 'Coat')
(110085, 'Gordon', 'Ellison', 'Robe')
(111927, 'Grace', 'Hill', 'Robe')
(111310, 'Grace', 'Stewart', 'Coat')
(111122, 'Harry', 'Peake', 'Coat')
(112574, 'Heather', 'Wallace', 'Coat')
(113088, 'Ian', 'Walsh', 'Coat')
(111401, 'Isaac', 'Rutherford', 'Coat')
(113107, 'Jacob', 'Clarkson', 'Coat')
(112720, 'Jacob', 'Forsyth', 'Robe')
(112641, 'Jacob', 'King', 'Coat')
(112175, 'Jacob', 'Sharp', 'Robe')
(111618, 'Jacob', 'King', 'Robe')
(110161, 'Jacob', 'Clarkson', 'Robe')
(112371, 'Jake', 'Wilson', 'Coat')
(111028, 'Jake', 'Morgan', 'Robe')
(110617, 'Jake', 'Dyer', 'Robe')
(110493, 'Jake', 'Cornish', 'Robe')
(112953, 'James', 'Newman', 'Coat')
(111945, 'James', 'Miller', 'Coat')
(111442, 'James', 'Miller', 'Coat')
(110868, 'James', 'Gibson', 'Coat')
(110628, 'James', 'Quinn', 'Coat')
(110199, 'James', 'McGrath', 'Robe')
(110382, 'Jan', 'Robertson', 'Coat')
(112331, 'Jane', 'Forsyth', 'Robe')
(111728, 'Jane', 'Walker', 'Coat')
(110987, 'Jane', 'Forsyth', 'Coat')
(110210, 'Jasmine', 'Oliver', 'Robe')
(112631, 'Jason', 'Sharp', 'Robe')
(111889, 'Jason', 'Lyman', 'Coat')
(111186, 'Jason', 'MacLeod', 'Coat')
(111319, 'Jennifer', 'Hughes', 'Coat')
(111057, 'Jennifer', 'Skinner', 'Coat')
(112320, 'Jessica', 'Morrison', 'Coat')
(110534, 'Joan', 'Quinn', 'Coat')
(109834, 'Joan', 'Blake', 'Robe')
(110608, 'Joanne', 'May', 'Coat')
(112454, 'Joe', 'Ogden', 'Coat')
(111954, 'Joe', 'Short', 'Coat')
(111500, 'Joe', 'May', 'Robe')
(111258, 'Joe', 'Parsons', 'Coat')
(112725, 'John', 'Baker', 'Coat')
(112095, 'John', 'Baker', 'Coat')
(111262, 'Joseph', 'Buckland', 'Coat')
(112249, 'Joshua', 'Coleman', 'Coat')
(111055, 'Joshua', 'Bond', 'Coat')
(110474, 'Joshua', 'Bond', 'Robe')
(113161, 'Julian', 'Lyman', 'Coat')
(112586, 'Justin', 'Graham', 'Coat')
(112368, 'Justin', 'Paterson', 'Coat')
(112780, 'Karen', 'Glover', 'Coat')
(112651, 'Karen', 'Gray', 'Coat')
(112328, 'Karen', 'May', 'Coat')
(112481, 'Katherine', 'Paterson', 'Robe')
(111411, 'Katherine', 'Grant', 'Coat')
(111326, 'Keith', 'Harris', 'Coat')
(112749, 'Kevin', 'Hudson', 'Coat')
(111429, 'Kevin', 'James', 'Robe')
(110687, 'Kevin', 'Parr', 'Robe')
(112239, 'Kimberly', 'Wallace', 'Coat')
(112072, 'Kimberly', 'Bond', 'Coat')
(111639, 'Kylie', 'Howard', 'Coat')
(112315, 'Lauren', 'Ball', 'Robe')
(113070, 'Leonard', 'Thomson', 'Robe')
(113149, 'Liam', 'Rutherford', 'Coat')
(112537, 'Liam', 'King', 'Robe')
(112236, 'Liam', 'Stewart', 'Coat')
(110209, 'Lillian', 'Metcalfe', 'Coat')
(110203, 'Lucas', 'Lawrence', 'Coat')
(111649, 'Luke', 'Ball', 'Coat')
(111048, 'Luke', 'Ball', 'Coat')
(111992, 'Madeleine', 'Marshall', 'Robe')
(109820, 'Mary', 'Stewart', 'Coat')
(111772, 'Matt', 'Grant', 'Coat')
(111694, 'Melanie', 'Nash', 'Coat')
(110801, 'Melanie', 'Hunter', 'Coat')
(113097, 'Michael', 'Hamilton', 'Coat')
(110763, 'Molly', 'Hart', 'Coat')
(112743, 'Natalie', 'Duncan', 'Robe')
(112425, 'Natalie', 'Duncan', 'Robe')
(112936, 'Nathan', 'Howard', 'Coat')
(110361, 'Nathan', 'Vaughan', 'Coat')
(113081, 'Neil', 'Coleman', 'Coat')
(109945, 'Nicholas', 'Greene', 'Robe')
(112609, 'Nicola', 'Howard', 'Coat')
(112408, 'Nicola', 'Clarkson', 'Coat')
(112270, 'Nicola', 'Clarkson', 'Robe')
(110138, 'Oliver', 'Simpson', 'Coat')
(112599, 'Owen', 'Henderson', 'Coat')
(112552, 'Paul', 'Reid', 'Coat')
(111894, 'Paul', 'Ellison', 'Robe')
(111837, 'Paul', 'Martin', 'Robe')
(110142, 'Paul', 'Davies', 'Coat')
(112502, 'Penelope', 'Rampling', 'Coat')
(110418, 'Penelope', 'Clarkson', 'Coat')
(113186, 'Peter', 'Metcalfe', 'Coat')
(112796, 'Peter', 'Quinn', 'Robe')
(110645, 'Peter', 'Parsons', 'Coat')
(110141, 'Peter', 'McGrath', 'Robe')
(113033, 'Piers', 'Gray', 'Coat')
(112710, 'Piers', 'White', 'Coat')
(112848, 'Pippa', 'Robertson', 'Robe')
(112262, 'Rebecca', 'Clarkson', 'Robe')
(110487, 'Rebecca', 'Ross', 'Robe')
(112198, 'Richard', 'Carr', 'Coat')
(111983, 'Richard', 'Carr', 'Robe')
(110847, 'Richard', 'Hemmings', 'Coat')
(112364, 'Robert', 'May', 'Coat')
(111741, 'Rose', 'Hodges', 'Coat')
(112362, 'Ruth', 'Mackenzie', 'Coat')
(109946, 'Ruth', 'Lambert', 'Coat')
(111542, 'Ryan', 'Marshall', 'Coat')
(110280, 'Ryan', 'Marshall', 'Coat')
(110121, 'Ryan', 'Morrison', 'Coat')
(111216, 'Sally', 'MacDonald', 'Coat')
(110914, 'Samantha', 'Mackenzie', 'Coat')
(110453, 'Samantha', 'Ross', 'Coat')
(110320, 'Samantha', 'Coleman', 'Robe')
(110303, 'Sean', 'Sanderson', 'Robe')
(111168, 'Sebastian', 'North', 'Coat')
(110399, 'Sebastian', 'Mackenzie', 'Coat')
(109890, 'Simon', 'Lawrence', 'Coat')
(111768, 'Stephanie', 'Smith', 'Coat')
(111453, 'Stephen', 'Fisher', 'Coat')
(112544, 'Steven', 'Morrison', 'Coat')
(111103, 'Stewart', 'Poole', 'Coat')
(112219, 'Sue', 'Morrison', 'Coat')
(112736, 'Theresa', 'Slater', 'Coat')
(110668, 'Thomas', 'Martin', 'Coat')
(112488, 'Tim', 'Vance', 'Coat')
(112440, 'Una', 'Lawrence', 'Coat')
(110984, 'Una', 'Jones', 'Coat')
(110738, 'Una', 'Jones', 'Robe')
(112555, 'Vanessa', 'Lyman', 'Coat')
(112332, 'Vanessa', 'Avery', 'Coat')
(111642, 'Vanessa', 'Avery', 'Coat')
(111917, 'Victor', 'Avery', 'Coat')
(112169, 'Victoria', 'Wilson', 'Coat')
(112145, 'Wanda', 'Henderson', 'Coat')
(112604, 'Wendy', 'Gill', 'Coat')
(112306, 'Wendy', 'Metcalfe', 'Coat')
(110718, 'Wendy', 'Morrison', 'Coat')
(112772, 'William', 'Grant', 'Robe')
(111274, 'William', 'McLean', 'Coat')
(110415, 'William', 'Gibson', 'Coat')
(110311, 'William', 'Grant', 'Coat')
(112361, 'Zoe', 'Ferguson', 'Robe')
(111684, 'Zoe', 'Ferguson', 'Coat')

### Quais as horas de maior venda?

### Media de vendas por hora?